nav.navbar.navbar-inverse.navbar-fixed-top
	div.container-fluid(ng-controller='AuthController')

		div.navbar-header
			button.navbar-toggle.collapsed(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/",class="navbar-brand") Shop Finder
		div#top-bar.collapse.navbar-collapse.navbar-responsive-collapse(uib-collapse="navCollapsed")
			ul.nav.navbar-nav
				li: a(href="/", ng-click="navCollapsed = true") Shops 
				li: a(href="/googleplaces", ng-click="navCollapsed = true") Google Places
				li: a(href="/apicheck", ng-click="navCollapsed = true") API Check

			ul.nav.navbar-nav.navbar-right
				li.uib-dropdown(uib-dropdown)
					a.uib-dropdown-toggle(href, uib-dropdown-toggle)
						span.glyphicon.glyphicon-play-circle(aria-hidden="true")
						|  Access
					ul.uib-dropdown-menu
						li: a(href="/login") Login
						li: a(href="/login") Profile
						li: a(ng-click="logout()") Logout