<div class="panel" ng-class="isInDatabase ? 'panel-warning' : 'panel-primary'">
	<div class="panel-heading">
		{{ info.name }}
	</div>
	<div class="panel-body">
		<shop-picture-directive srcphoto="info"></shop-picture-directive>
		<div class="shop-details">
			<p>{{ info.formatted_address }}</p>
			<div class="shopDetailsLocation">
				<span class="label label-success">Lat: {{ info.geometry.location.lat() | number:4 }}</span>
				<span class="label label-success">Lng: {{ info.geometry.location.lng() | number:4 }}</span>
			</div>
			<input type="hidden" value="{{ info.place_id }}">
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group">
				<button type="button" class="btn" ng-class="isInDatabase ? '' : 'btn-primary' " ng-click="internalSaveShop(info)" ng-disabled="isInDatabase">
					<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
				</button>
			</div>	
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="getShopDetailsModal(info)">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> View
				</button>
			</div>	
		</div>
	</div>
</div>